$sans: Poppins, sans-serif;

h1 {
    color: #ffffff;
    font-size: 48px;
    font-family: $sans;
    font-weight: 800;
}
h2 {
    font-size: 200px;
    line-height: 200px;
    font-family: $sans;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ffffff;
}
a {
    color: white;
    text-decoration: none;
    & :hover {
        color: lavender;
    }
}