$sans: Poppins, sans-serif;

h1 {
    color: #ffffff;
    font-size: 48px;
    font-family: $sans;
    font-weight: 800;
}
h2 {
    font-size: 200px;
    line-height: 200px;
    font-family: $sans;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ffffff;
}
a {
    color: white;
    text-decoration: none;
    & :hover {
        color: lavender;
    }
}
p {
    color: white;
    font-family: $sans;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.04em;
    font-weight: 500;
    max-width: 600px;
    margin: 0 auto;
}